.aside {
    float: left;
    &__catalog {
        list-style: none;
        padding: 0;
    }
    &__catalog-element {
        font-size: 1.143em;
        color: $text-color;
    }
    &__element-name:hover,
    &__element-name--active,
    &__category--active,
    &__category:hover {
        color: $link-color;
        cursor: pointer;
    }
    &__category-list {
        display: none;
        list-style: disc;
        padding-left: 25px;
    }
    &__category {
        font-size: 0.875em;
    }
    &__category-list--opened {
        display: block !important;
    }
    &__price-list {
        height: 45px;
    }
    &__price-list-icon {
        display: block;
        float: left;
        margin-right: 15px;
    }
    &__price-list-text {
        line-height: 45px;
        @extend .link;
        font-weight: bold;
        color: #282c37;
    }
}

@media screen and (min-width: 320px) {
    .aside {
        width: 100%;
        &__catalog {
            margin: 0 15%;
        }
        &__price-list {
            margin: 30px 15% 0;
        }
    }
}

@media screen and (min-width: 475px) {
    .aside {
        &__catalog {
            margin: 0 3%;
        }
        &__price-list {
            margin: 30px 3% 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .aside {
        width: 25%;
        &__catalog {
            margin: 0;
        }
        &__price-list {
            margin: 30px 0 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .aside {
        &__price-list {
            margin: 50px 0 0;
        }
    }
}