.breadcrumbs {
    overflow: hidden;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__element {
        float: left;
    }
    &__link {
        @extend .link;
        color: $link-color;
        padding: 0 5px;
    }
}

@media screen and (min-width: 320px) {
    .breadcrumbs {
        margin: 35px 0 35px 10px;
    }
}

@media screen and (min-width: 768px) {
    .breadcrumbs {
        margin: 35px 0;
    }
}
