.button {
    display: block;
    height: 35px;
    width: 120px;
    line-height: 35px;
    box-sizing: border-box;
    background-color: $button-color;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.button:hover {
    background-color: #424757;
    cursor: pointer;
}