.footer {
    border-top: 1px solid #eaeaea;
    padding-top: 40px;
    overflow: hidden;
    &__menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__menu-element {
        display: inline-block;
    }
    &__link {
        @extend .link;
        color: $link-color;
        text-transform: uppercase;
    }
    &__copyright {
        color: $text-color;
    }
    &__copyright-text {
        text-align: center;
    }
}

@media screen and (min-width: 320px) {
    .footer {
        margin-bottom: 40px;
        &__nav {
            display: none;
        }
        &__copyright-text {
            width: 130px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        margin-bottom: 70px;
        &__nav {
            display: block;
            float: right;
            margin-right: 10%;
        }
        &__copyright-text {
            margin-left: 10%;
            float: left;
        }
        &__menu-element {
            margin: 0 7px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        &__content {
            overflow: hidden;
            width: 980px;
            margin: 0 auto 100px;
        }
        &__nav {
            margin: 0;
        }
        &__menu-element {
            margin: 0 10px;
        }
        &__copyright-text {
            width: 180px;
            margin: 0;
        }
    }
}