.goods {
    overflow: hidden;
    &__product-list {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    &__pagination {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    &__pagination-element {
        display: inline-block;
        margin: 0 10px;
        color: $text-color;
        cursor: pointer;
    }
    &__pagination-element:hover {
        color: #000;
    }
    &__pagination-element--active {
        color: #000;
        font-size: 1.286em;
    }
    &__information {
        border-top: 1px solid #000;
        margin: 35px 0;
        padding-top: 35px;
        overflow: hidden;
        color: $text-color;
    }
}

@media screen and (min-width: 320px) {
    .goods {
        width: 100%;
        &__information-block {
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .goods {
        width: 75%;
        &__information-block {
            width: 45%;
            float: left;
            text-align: left;
        }
        &__first-information-block {
            margin-right: 10%;
        }
        &__information {
            margin-bottom: 80px;
        }
    }
}
