.header {
    overflow: hidden;
    &__site-logo {
        float: left;
    }
    &__logo-link {
        display: block;
    }
    &__phones-list {
        font-size: 18px;
        list-style: none;
        padding: 0;
        color: #767676;
        line-height: 1.333;
        margin: 0;
    }
    &__feedback-button {
        font-size: 15px;
    }
}

@media screen and (min-width: 320px) {
    .header {
        &__content {
            width: 90%;
            margin: 25px 5%;
            overflow: hidden;
        }
        &__logo-link {
            text-align: center;
        }
        &__phones-list {
            text-align: center;
        }
        &__feedback-button {
            margin: 20px auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__logo-link {
            float: left;
        }
        &__phones-list {
            float: right;
        }
        &__feedback-button {
            float: right;
            margin: 3px 20px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__content {
            width: 980px;
            margin: 25px auto;
        }
    }
}