.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    &__content {
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        width: 30%;
    }
    &__form {
        overflow: hidden;
    }
    &__heading2 {
        font-size: 1.6em;
        color: #535353;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }
    &__input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        margin-bottom: 15px;
        border: 1px solid #c3c3c3;
        padding-left: 15px;
    }
    &__input--error-state {
        -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 0, 0, 0.49);
        -moz-box-shadow: inset 0px 0px 25px 3px rgba(255, 0, 0, 0.49);
        box-shadow: inset 0px 0px 25px 3px rgba(255, 0, 0, 0.49);
        border: 1px solid rgba(255, 0, 0, 0.69);
    }
    ::-webkit-input-placeholder {
        color: #dc7f7f;
    }
    :-moz-placeholder {
        color: #dc7f7f;
    }
    ::-moz-placeholder {
        color: #dc7f7f;
    }
    :-ms-input-placeholder {
        color: #dc7f7f;
    }
    &__text-input {
        height: 140px;
    }
    &__required-field {
        color: #ca2025;
    }
    &__submit-button {
        float: right;
        border: none;
    }
    &__close {
        position: absolute;
        top: -20px;
        right: -20px;
        background-color: #fff;
        color: #000;
        font-size: 2.45em;
        line-height: 20px;
        width: 20px;
        height: 20px;
    }
    &__close:hover {
        cursor: pointer;
        background-color: #e4e4e4;
    }
}

@media screen and (min-width: 320px) {
    .modal {
        &__content {
            margin-top: 85px;
            width: 90%;
        }
        &__heading2 {
            padding: 20px 0;
            margin: 0;
        }
        &__form {
            width: 75%;
            margin: 0 auto;
            overflow: hidden;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width: 550px) {
    .modal {
        &__content {
            width: 60%;
        }
    }
}

@media screen and (min-width: 768px) {
    .modal {
        &__content {
            width: 50%;
        }
        &__heading2 {
            padding: 30px 0;
        }
        &__content {
            margin-top: 70px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .modal {
        &__content {
            width: 465px;
        }
    }
}