.nav {
    overflow: hidden;
    text-align: center;
    &__menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $button-color;
    }
    &__link {
        @extend .link;
        color: #fff;
        text-transform: uppercase;
    }
    &__menu-button {
        background-color: #20232c;
        width: 100%;
        color: #fff;
        padding: 15px 0;
        font-size: 1.8em;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__menu-button:hover {
        background-color: #13151a;
    }
}

@media screen and (min-width: 320px) {
    .nav {
        width: 100%;
        &__menu-list {
            display: none;
        }
        &__link:hover {
            background-color: #20232c;
        }
        &__link {
            display: block;
            padding: 15px 0;
            font-size: 1.8em;
        }
        &__link:active {
            color: #bf2e2e;
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        width: 100%;
        clear: both;
        border: none;
        padding: 0;
        text-align: center;
        height: 80px;
        &__menu-button {
            display: none;
        }
        &__menu-list {
            display: block !important;
            margin: 0;
            border: 0;
            height: 100%;
            width: 100%;
            line-height: 80px;
        }
        &__menu-element {
            display: inline-block;
        }
        &__link {
            display: inline;
            padding: 0;
            font-size: 1em;
            padding: 0 35px;
            border-right: 1px solid #424757;
        }
        &__last-link {
            border: none;
        }
        &__link:hover {
            background-color: $button-color;
        }
    }
}
