.product {
    float: left;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    &__image {
        width: 90%;
        height: auto;
        margin: 20px 5%;
    }
    &__description {
        text-transform: uppercase;
        color: $text-color;
        text-align: center;
        padding: 0 10px;
    }
    &__footer {
        border-top: 1px solid #e4e4e4;
        height: 20px;
        padding: 15px;
        margin-top: 10px;
        overflow: hidden;
        line-height: 20px;
    }
    &__price {
        font-size: 1.8em;
        color: #444;
        font-weight: bold;
    }
    &__add-icon {
        float: right;
    }
}

@media screen and (min-width: 320px) {
    .product {
        width: 70%;
        margin: 15px 15% 15px;
    }
}

@media screen and (min-width: 475px) {
    .product {
        width: 45%;
        margin: 20px 2.1% 25px;
    }
}

@media screen and (min-width: 768px) {
    .product {
        width: 45%;
        margin: 0 1.4% 25px;
    }
}

@media screen and (min-width: 1024px) {
    .product {
        width: 29.5%;
    }
}