.swiper-pagination-bullet {
  background-color: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.slider {
  &__slide {
    display: block;
    width: 100%;
    height: auto;
  }
}